<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu Quản Lý Sản Phẩm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h2>Quản Lý Sản Phẩm</h2>
        <p>Chào mừng, {{ username }}!</p>
        <a href="{{ url_for('search_product', username=username, password=password) }}">
            <button>Tìm Kiếm Sản Phẩm</button>
        </a>
        <a href="{{ url_for('add_product', username=username, password=password) }}">
            <button>Thêm Sản Phẩm Mới</button>
        </a>
    </div>
</body>

</html>